@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background-color: yellow;
    font-family: 'Montserrat', sans-serif;
    margin: 10%;
}

h1 {
  color: #337ab7;
  font-size: 60px;
}

.searchtext {
  width: 75%;
  margin: 5% auto;
}

.moodbar {
  font-size: 20px;
  width: 75%;
  height: 25px;
  margin: 5% auto;
}
